* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  height: 60px;
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  text-align: center;
  padding: 14px 12px;
}

a {
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.menu-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.menu-bg:hover {
  background-color: rgba(100, 100, 100, 0.1);
  cursor: pointer;
}

.menu-button {
  width: 15px;
}

.btn-sign-in {
  background-color: #1a73e8;
  color: #ffffff;
  border: 1px solid transparent;
  height: 35px;
  width: 90px;
  border-radius: 5px;
}

.btn-sign-in:hover {
  background: #1b66c9;
}

.search-wrapper {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 300px;
}

form {
  position: relative;
}

input {
  width: 580px;
  height: 45px;
  border-radius: 50px;
  padding-left: 50px;
  font-size: 14px;
  border: 1px solid #d3d3d3;
  margin-top: 25px;
}

input:hover {
  box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}

.search {
  width: 15px;
  position: absolute;
  top: 40px;
  left: 15px;
}

.mic {
  width: 11px;
  position: absolute;
  top: 39px;
  left: 550px;
}

.btns {
  display: flex;
  justify-content: center;
}

.btn {
  border: 1px solid transparent;
  padding: 8px 12px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
}

.btn:hover {
  border: 1px solid #eee;
  box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.5);
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.panel {
  display: flex;
  justify-content: space-between;
}

.carbon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaf {
  width: 12px;
}
